<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/sbrenner132">Sam Brenner</a>
    <i class="flag flag-us ps-3"></i>
</div>