<div class="card d-flex flex-row m-2 mb-3">
    <div class="card-body d-flex flex-row justify-content-between">
      <div
        class="d-flex d-row align-items-center"
        style="flex: 3; "
      >
        <i
          class="fa-solid fa-user pe-4 fa-2x"
          style="color: <%= outgoing.for.color %>"
          alt="User"
          loading="lazy"
        ></i>
        <b><%= outgoing.for.name %></b>
      </div>
      <div style="flex: 2;" class="d-flex flex-row-reverse justify-content-around">
        <form method="post" action="/rejectFriendRequest">
          <input hidden name="notif_id" value="<%= outgoing.notif_id %>">
          <button class="btn btn-warning">Cancel</button>
        </form>
        <a class="btn btn-primary" href="/profile/<%= outgoing.for.id %>">Profile</a>
      </div>
    </div>
  </div>
  