<div class="p-3 d-flex flex-row h-100">
    <div class="d-flex flex-column align-items-center justify-content-center" style="flex: 1">
        <div class="center">
            <div class="page">
                <h1><%= book.title %><br><div style="font-size: 15px;">By: <%= book.author.username %></div></h1>
                <p><%= book.theme %></p>
                <p class="text-center"><br>***<br></p>
                <p><%= book.text %>...</p>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center" style="flex: 1">
        <div>hi</div>
    </div>
</div>