<div class="d-flex flex-row p-5 justify-content-evenly" style="height: 80vh">
    <div class="d-flex flex-column text-center" style="flex: 1;">
        <p class="display-4">Outgoing </p>
        <% if (!!user.outgoingRequests.length) { %>
        <% user.outgoingRequests.forEach(request => { %>
        <%= request %>
        <% }) %>
        <% } else { %>
        <p>You currently have no outgoing friend requests. Feel free to <a href="/findfriends">add a friend</a>!</p>
        <% } %>
    </div>
    <div class="d-flex flex-column text-center" style="flex: 1;">
        <p class="display-4 pb-3">Incoming </p>
        <% if (!!requests.length) { %>
        <div class="d-flex flex-wrap justify-content-center text-center users-scroll" style="max-height: 100vh;">
            <% requests.forEach(request => { %>
            <%- include('../partials/requestcard.ejs', {request: request}) %>
            <% }) %>
        </div>
        <% } else { %>
        <p>You don't have any incoming friend requests. Maybe swing our site by a friend to match with them!</p>
        <% } %>
    </div>
    <div class="d-flex flex-column ps-5 text-center" style="flex: 1;">
        <p class="display-4">My Friends</p>
    </div>
</div>